/* spline-viewer {
  display: none;
} */
/* img {
  display: none;
} */

#logo {
  display: none !important;
  visibility: hidden !important;
}

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  cursor: url("images/cursor.png"), auto;
  font-family: "Poppins", sans-serif;
  background-color: #191a23;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
a:hover {
  cursor: url("images/cursor.png"), auto;
}
h1,
h2,
h3,
p,
div {
  margin: 0;
}
.container {
  width: 77.35%;
  margin: 0 auto;
  width: min(1485px, 90%);
}
section {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}
video {
  width: 100%;
  max-height: 100%;
}
.mobile_only {
  display: none;
}
@media (max-width: 1024px) {
  /* spline-viewer {
    display: none;
  } */
  .mobile_only {
    display: block;
  }
  .mobile_hidden {
    display: none;
  }
}

/* ScrollBar starts */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.159);
  border-radius: 100vw;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: #52dacc;
  border: 2px solid #313340;
  border-radius: 100vw;
}
/* ScrollBar ends */

/* Hover only on PC */
@media (min-width: 1024px) {
  .left_arrow:hover::before {
    width: 100%;
    left: 0;
  }
  .right_arrow:hover::before {
    width: 100%;
  }
  .project img:hover {
    transform: scale(1.1);
  }
  .project .box_contents a:hover::before {
    left: 0;
  }
  .project .box_contents a:hover {
    color: #313340;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }
  .about_right_boxes .box_contents:hover::before {
    height: 100%;
    top: 0;
  }
  .submit_box:hover > .form_submit {
    opacity: 0;
  }
  .submit_box:hover::before {
    left: 0%;
  }
  .submit_box:hover::after {
    opacity: 1;
  }
  .socials a:hover::before {
    top: 0;
  }
}
/* Hover only on PC */

/* Blob starts */
#blob {
  width: 300px;
  aspect-ratio: 1/1;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1000;
  filter: blur(100px);
  animation: rotate 10s linear infinite;
  opacity: 0.8;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* Blob ends */

/* Volume Button starts */
.playButton {
  width: 100px;
  height: 50px;
  position: fixed;
  left: 0%;
  top: 77px;
  transform: translate(-50%, -50%);
  background-color: #191a23;
  border: 3px solid #52dacc;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4),
    -10px -10px 20px 0px #272933;
  z-index: 10;
}
.playButton i {
  color: #e2e2e2;
  font-size: 24px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playButton_mobile {
  width: 100px;
  height: 50px;
  position: fixed;
  left: 0%;
  top: 77px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4),
    -10px -10px 20px 0px #272933;
  z-index: 10;
}
.playButton_mobile i {
  color: #ccd2dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moving_icons {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moving_icons_mobile {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons_default {
  transform: translateX(0);
}
.icons_right {
  transform: translateX(50%);
}
@media (max-width: 1250px) {
  #playButton {
    width: 85px;
  }
}
@media (max-width: 1024px) {
  .playButton_mobile {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: calc(100% - 110px);
    border: none;
    background: none;
    box-shadow: none;
  }
  .playButton_mobile i {
    width: 100%;
    height: 50%;
    font-size: 32px;
  }
  .moving_icons_mobile {
    width: 100%;
    height: 200%;
  }
  .icons_default {
    transform: translateY(-50%);
  }
  .icons_right_mobile {
    transform: translateY(0%);
  }
}
@media (max-width: 800px) {
  .playButton_mobile {
    left: calc(100% - 95px);
  }
}
@media (max-width: 550px) {
  .playButton_mobile {
    left: calc(100% - 85px);
    height: 49px;
  }
  .playButton_mobile i {
    font-size: 26px;
  }
}
/* Volume Button ends */

/* Loader starts */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #191a20; */
  background-color: #191a23;
  transition: opacity 0.5s, visibility 0.5s;
  transition: 0.5s;
  z-index: 9999;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #d1d7e0;
  border-top-color: #52dacc;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.8);
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* Loader ends */

/* Menu Starts */
header {
  /* transform: translate(-50%, 35px); */
  /* z-index: 100; */
  /* position: fixed; */
  width: 100%;
  /* left: 50%; */
}
.fixed_header_container {
  transform: translate(-50%, 30px);
  z-index: 100;
  position: fixed;
  left: 50%;
}
.header_container {
  position: relative;
}
.menu_background {
  position: relative;
  height: 80px;
  border-radius: 100px;
  background: #14151a;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4),
    -10px -10px 20px 0px #272933;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_background::before {
  content: "";
  background: linear-gradient(100deg, #14151a, #30323f);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -3px;
  border-radius: 100px;
}
.header_container {
  width: 100%;
  margin: 7.5px;
  margin: 7.5px;
  height: 63.562px;
  border-radius: 100px;
  border: double 3.5px transparent;
  background: linear-gradient(100deg, #22232d, #131419),
    linear-gradient(100deg, #313340, #14151a);
  /* background-image: linear-gradient(100deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(100deg, #313340, #14151a); */
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.menu_items {
  height: 100%;
  width: 100%;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img {
  width: 155px;
  transition: 0.3s;
}
.menu_links {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  color: #ccd2dd;
  font-weight: 700;
  position: relative;
  transition: 0.4s;
}
nav a::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0%;
  height: 0.2rem;
  background-color: #52dacc;
  transition: 0.4s;
}
nav a:hover {
  color: #52dacc;
  text-shadow: 2px 2px 10px rgba(82, 218, 204, 0.25);
}
nav a:hover::before {
  width: 100%;
}
.active {
  color: #52dacc;
  text-shadow: 2px 2px 10px rgba(82, 218, 204, 0.25);
}
.active::before {
  width: 100%;
}
.toggle_btn {
  font-size: 38px;
  display: none;
}
.toggle_btn i {
  color: #ccd2dd;
}
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 90px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
}
.dropdown_menu.open {
  height: 300px;
}
.dropdown_menu nav {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media (max-width: 1024px) {
  .menu_links {
    display: none;
  }
  .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2rem;
    width: unset;
  }
}
@media (max-width: 550px) {
  .logo img {
    width: 145px;
  }
  .toggle_btn {
    font-size: 35px;
  }
  .menu_background {
    height: 70px;
  }
  .header_container {
    height: 55px;
  }
}
@media (max-width: 420px) {
  .logo img {
    width: 130px;
  }
  .toggle_btn {
    font-size: 32px;
  }
}
/* Menu Ends */

/* Hero Section starts */
.hero_section .container {
  display: flex;
  align-items: center;
}
.hero_left {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 33.68%;
}
h1 {
  color: #d1d7e0;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.35);
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7.2rem; /* 112.5% */
}
#h1_color_changer {
  /* color: #52dacc; */
  background: linear-gradient(
    to right,
    #52dacc,
    #52dacc,
    #52dacc,
    #fff,
    #fff,
    #52dacc
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: background-pan 4s linear infinite;
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -300% center;
  }
}
.hero_left p {
  color: #b1b6bf;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.35);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3.8rem;
  margin-top: 2.5rem;
}
.hero_left a {
  color: #52dacc;
  text-shadow: 2px 2px 10px rgba(82, 218, 204, 0.1);
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  /* padding: 1.35rem 3.3rem; */
  width: 17.6rem;
  height: 5.8rem;
  border-radius: 100px;
  border: 3px solid #52dacc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  transition-delay: 0.8s ease;
}
.hero_left a::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(103deg, #52dacc -7%, #124641 127.3%);
  z-index: -1;
  border-radius: 100px;
  transition: 0.3s;
}
.hero_left a:hover::before {
  width: 100%;
}
.hero_left a:hover {
  color: #313340;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border: 0px solid transparent;
}
#mobile_know_more {
  display: none;
  color: #313340;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  background: linear-gradient(103deg, #52dacc -7%, #124641 127.3%);
}

@media (max-width: 1024px) {
  #mobile_know_more {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero_left a {
    display: none;
  }
}
.hero_right {
  width: 66.32%;
  flex-grow: 1;
}
.hero_contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.hero_top_contents {
  flex-grow: 1;
}
.scroll_down {
  margin-bottom: 36px;
}
.scroll_down img {
  margin: 0 auto;
  width: 8rem;
  aspect-ratio: 1/1;
}
/* Hero Section ends */

/* Hero Section Responsive starts */
/* PC Responsive */
@media (max-width: 1592px) {
  .hero_left {
    width: 40%;
  }
}
@media (max-width: 1550px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1320px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 1235px) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 1190px) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 1085px) {
  html {
    font-size: 45%;
  }
}

/* Tablet responsive */
@media (max-width: 1024px) {
  html {
    font-size: 70%;
    scroll-snap-type: none;
  }
  h1 br {
    display: none;
  }
  .hero_top_contents {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .hero_left {
    width: auto;
  }
  .hero_right {
    flex-grow: 0;
    width: 100%;
  }
}
@media (max-width: 990px) {
  html {
    font-size: 62%;
  }
  /* nav a {
    font-size: 16px;
  } */
}
/* @media (max-width: 905px) {
  html {
    font-size: 60%;
  }
} */
@media (max-width: 816px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 44%;
  }
}
@media (max-width: 520px) {
  h1 br {
    display: block;
  }
  /* html {
    font-size: 40%;
  } */
}
@media (max-width: 360px) {
  html {
    font-size: 34%;
  }
}
/* Hero Section Responsive ends */

/* About Section starts */
.about_contents {
  flex-grow: 1;
  display: flex;
}
.about_flex_box {
  display: flex;
  /* flex-grow: 1; */
}
.about_left {
  width: 49.5%;
  display: flex;
  align-items: center;
}
.box {
  aspect-ratio: 1/1;
  background: url(images/box_bg.png);
  background-size: cover;
  border-radius: 20%;
  box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1);
  border: double 4px transparent;
  background-image: linear-gradient(140deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(120deg, #52dacc, #14151a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  overflow: hidden;
}
.box::before {
  content: "";
  width: 100%;
  aspect-ratio: 1/1;
  background: url(images/box_bg.png);
  background-size: cover;
  /* border-radius: 100px; */
  /* z-index: ; */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
}
.about_left_box {
  width: 83.5%;
}
.box_contents {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about_right {
  width: 50.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.about_right_boxes .box_contents::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #52dacc, transparent);
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.75s;
  transform-origin: bottom;
}

.sub_heading {
  color: #d1d7e0;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.35);
  font-size: 5.6rem !important;
  font-weight: 600 !important;
  line-height: 1;
}
.secondary_sub_heading {
  color: #52dacc !important;
  text-shadow: 4px 4px 20px rgba(82, 218, 204, 0.4);
  font-size: 2.4rem !important;
  font-weight: 500 !important;
  line-height: 3.2rem;
}
.description {
  color: #ccd2dd;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
}
.about_right_boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about_right_box {
  width: 30%;
  aspect-ratio: 1/1;
  /* border-radius: 40px; */
}
.counter {
  color: #52dacc;
  text-shadow: 4px 4px 20px rgba(82, 218, 204, 0.25);
  font-size: 4.8rem;
  font-weight: 600;
}
.counter::after {
  content: "+";
}
@media (max-width: 768px) {
  .counter::after {
    margin-left: -5px;
  }
}
.counter_description {
  color: #d1d7e0;
  text-align: center;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
}
/* About Section ends */

/* About Responsive start */
@media (max-width: 1024px) {
  .about_flex_box {
    flex-direction: column;
    gap: 6.4rem;
  }
  .about_left {
    width: 80%;
    margin: 0 auto;
  }
  .about_left_box {
    width: 100%;
  }
  .about_right {
    width: auto;
  }
  .about_contents {
    margin: 6.4rem 0;
  }
}
@media (max-width: 520px) {
  .about_left {
    width: 100%;
  }
  .box {
    border-radius: 25%;
  }
}
@media (max-width: 460px) {
  .counter {
    font-size: 4rem;
  }
  .counter_description {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .counter {
    font-size: 3.8rem;
  }
  .counter_description {
    font-size: 1.8rem;
    line-height: 16px;
  }
}
/* About Responsive end */

/* Skills section starts */
.skills_contents {
  display: flex;
  flex-grow: 1;
}
.skills_flex_box {
  display: flex;
}
.skills_left {
  width: 46%;
  display: flex;
  align-items: center;
}
.skills_left_container {
  width: 90%;
}
.skills_left_skills {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.skills_right {
  width: 54%;
  display: flex;
  align-items: center;
}
.skills_left .sub_heading {
  text-align: center;
  margin-bottom: 3rem;
}
.skills_headings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.skills_loading_container {
  width: 100%;
  height: 2.5rem;
  border-radius: 100px;
  background: #252733;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.2);
}
.loading_width_1 {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}
.loading_width_2 {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}
.loading_width_3 {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}
.loading_width_4 {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}
.skills_loading {
  width: 0%;
  height: 50%;
  background-color: #52dacc;
  border-radius: 100px;
  transition: 1.2s ease-in-out;
}
@media (max-width: 768px) {
  .skills_loading {
    width: 100%;
  }
}
/* Skills section ends */

/* Skills Responsive starts */
@media (max-width: 1024px) {
  .skills_flex_box {
    flex-direction: column;
    /* gap: 6.4rem; */
    justify-content: space-evenly;
  }
  .skills_left {
    width: 80%;
    margin: 0 auto;
  }
  .skills_left_container {
    width: 100%;
  }
  .skills_right {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

/* Skills Responsive ends */

/* Projects starts */
.projects_contents {
  display: flex;
  flex-grow: 1;
  /* padding-top: 6rem; */
}
.projects_contents .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.projects_flex_box {
  /* flex-grow: 1; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 32px);
  gap: 4.8rem;
  overflow-x: hidden;
  place-items: center;
}
.project {
  height: 500px;
  background: url(images/box_bg.png);
  background-size: cover;
  border-radius: 45px;
  /* box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1); */
  border: double 4px transparent;
  background-image: linear-gradient(140deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(120deg, #52dacc, #14151a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
  user-select: none;
}
.project::before {
  content: "";
  width: 100%;
  background: url(images/box_bg.png);
  background-size: cover;
  /* border-radius: 100px; */
  /* z-index: ; */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
}
.project .box_contents {
  width: 100%;
  height: 100%;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.project .box {
  width: 100%;
  height: 60%;
  background: url(images/box_bg.png);
  background-size: cover;
  border-radius: 25px;
  box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1);
  border: double 4px transparent;
  background-image: linear-gradient(140deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(120deg, #52dacc, #14151a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .box::before {
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.project .box_contents a {
  width: 100%;
  height: 58px;
  background: url(images/box_bg.png);
  background-size: cover;
  border-radius: 50px;
  box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1);
  border: double 4px transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(120deg, #52dacc, #14151a);
  background-image: linear-gradient(140deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(120deg, #52dacc, #14151a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #52dacc;
  text-shadow: 2px 2px 10px rgba(82, 218, 204, 0.1);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.project .box_contents a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(120deg, #52dacc, #14151a);
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.4s;
}
.project .box_contents a::after {
  content: "Live Preview";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.project img {
  height: 100%;
  transition: 0.3s;
}
.project_two_img {
  width: 90%;
  height: auto !important;
}
.project_title {
  font-size: 32px;
  color: #d1d7e0;
  font-weight: 500;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.35);
  line-height: 16px;
  user-select: none;
}
.project_description {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ccd2dd;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.35);
  user-select: none;
}
.projects_arrow_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.projects_arrow_box div {
  transition: opacity 0.2s ease-in;
}
.left_arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #52dacc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.right_arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #52dacc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.projects_arrow_box i {
  font-size: 32px;
  color: #52dacc;
}
.left_arrow::before {
  content: "";
  width: 0;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100%;
  background: linear-gradient(to left, #3a9e94, transparent);
  transition: 0.3s;
}

.right_arrow::before {
  content: "";
  width: 0;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #3a9e94, transparent);
  transition: 0.3s;
}

.carousel {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.btnhidden {
  opacity: 0.2;
  pointer-events: none;
}
/* Projects ends */

/* Projects Responsive starts */
@media (max-width: 1500px) {
  .projects_flex_box {
    grid-auto-columns: calc((100% / 3) - 24px);
    gap: 3.2rem;
  }
}
@media (max-width: 1285px) {
  .projects_flex_box {
    grid-auto-columns: calc((100% / 2) - 22px);
    gap: 4.8rem;
  }
}
@media (max-width: 1024px) {
  .projects_flex_box {
    grid-auto-columns: calc((100% / 2) - 20px);
    gap: 3.2rem;
  }
}
@media (max-width: 840px) {
  .projects_contents .container {
    width: 60%;
  }
  .projects_flex_box {
    grid-auto-columns: calc((100%));
  }
  .project {
    width: 100%;
  }
}
@media (max-width: 840px) {
  .projects_contents .container {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .project_two_img {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .project {
    width: 100%;
  }
  .projects_contents .container {
    width: 75%;
  }
  .project_title {
    font-size: 28px;
  }
  .project_description {
    font-size: 18px;
    font-weight: 400;
  }
}
@media (max-width: 465px) {
  .project .box {
    height: 55%;
  }
  .projects_contents .container {
    width: 80%;
  }
  .project {
    height: 450px;
  }
}
@media (max-width: 435px) {
  .project .box {
    height: 55%;
  }
  .projects_contents .container {
    width: 90%;
  }
}
@media (max-width: 395px) {
  .project_title {
    font-size: 30px;
  }
  .project_description {
    font-size: 16px;
  }
  .project {
    height: 450px;
  }
  .project .box_contents a {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .project_title {
    font-size: 26px;
  }
  .project_description {
    font-size: 16px;
  }
  .project .box_contents a {
    font-size: 15px;
  }
}
@media (max-height: 750px) {
  .projects_contents .container {
    gap: 3rem;
  }
}
@media (max-height: 720px) {
  .projects_contents .container {
    gap: 4rem;
  }
}
/* Projects Responsive ends */

/* Contact starts */
.divider {
  width: 100%;
  height: 1px;
  background-color: #52dacc;
}
.contact_contents {
  flex-grow: 1;
  display: flex;
}
.contact_flex_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_heading {
  margin-bottom: 3rem;
}
.form_container {
  width: 70%;
}
.form_box {
  background: url(images/box_bg.png);
  background-size: cover;
  border-radius: 3.5rem;
  box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1);
  border: double 3px transparent;
  background-image: linear-gradient(140deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(120deg, #52dacc, #14151a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}
form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input_box {
  height: 6.5rem;
  background: url(images/box_bg.png);
  background-size: cover;
  border-radius: 1.5rem;
  box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1);
  border: double 3px transparent;
  background-image: linear-gradient(140deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(120deg, #52dacc, #14151a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}
.textarea_box {
  height: 20rem;
  background: url(images/box_bg.png);
  background-size: cover;
  border-radius: 1.5rem;
  box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1);
  border: double 3px transparent;
  background-image: linear-gradient(140deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(120deg, #52dacc, #14151a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}
.submit_box {
  height: 100%;
  width: 37.5%;
  background: url(images/box_bg.png);
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1);
  border: double 3px transparent;
  background-image: linear-gradient(140deg, #272933 -8.09%, #15161c 86.38%),
    linear-gradient(120deg, #52dacc, #14151a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
  position: relative;
}
.submit_box::before {
  content: "";
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to right, #52dacc, transparent); */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(120deg, #52dacc, #14151a);
  z-index: 0;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s;
  transform-origin: bottom;
}

.submit_box::after {
  content: "Submit";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0;
  transition: 0.3s;
  color: #22232d;
}
input {
  font-size: 2rem !important;
  width: 100%;
  font-family: "Poppins";
  background: transparent;
  border: none;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
textarea {
  font-size: 2rem !important;
  width: 100% !important;
  font-family: "Poppins";
  background: transparent;
  border: none;
  height: 100%;
  padding: 1.5rem;
  height: auto !important;
  resize: none;
  height: 100% !important;
}
input:focus {
  outline: none;
}
.contact_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_left {
  width: 50%;
  height: 75%;
}
.copyright_contents p {
  text-align: center;
  padding: 4rem;
}
.socials_container {
  height: 5.5rem;
  display: flex;
}
.socials {
  width: 62.5%;
  height: 100%;
  display: flex;
  gap: 1.5rem;
}
.socials a {
  max-height: 100%;
  aspect-ratio: 1/1;
  border: 3px solid #52dacc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.25),
    -10px -10px 30px 0px rgba(39, 41, 51, 1);
}
.socials a::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #52dacc, transparent);
  z-index: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
  transform-origin: bottom;
}

.socials i {
  font-size: 2.4rem;
  color: #52dacc;
  font-weight: 500;
}
.form_submit {
  color: #52dacc;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.8rem;
  font-weight: 600;
  transition: 0.3s;
  position: absolute;
  z-index: 10;
}
/* Contact ends */

/* Contact Responsive atarts */
@media (max-width: 1500px) {
  .form_container {
    width: 80%;
  }
}
@media (max-width: 1500px) {
  .form_container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .form_container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .contact_contents {
    margin-top: 30px;
  }
  .contact_flex_box {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 8rem;
  }
  .contact_left {
    width: 50%;
    width: 80%;
    /* height: auto; */
  }
  .contact_right {
    width: 100%;
  }
  .form_container {
    width: 60%;
  }
  .copyright_contents {
    margin-top: 8rem;
  }
  .copyright_contents p {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .form_container {
    width: 70%;
  }
  .contact_left {
    width: 90%;
  }
  .copyright_contents p {
    font-size: 2.4rem;
  }
}

@media (max-width: 500px) {
  .form_container {
    width: 100%;
  }
}
@media (max-width: 430px) {
  /* .form_container {
    width: 95%;
  } */
  .contact_left {
    width: 100%;
  }
  .copyright_contents p {
    font-size: 2.2rem;
  }
}
/* Contact Responsive ends */
